@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
  z-index: 100;
}

@font-face {
    font-family: "FKScreamer";
    src: url("/fonts/FKScreamer-Bold.woff");
  }

  @font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("/fonts/SpaceGrotesk-Bold.woff");
  }

  @font-face {
    font-family: "SpaceGrotesk-SemiBold";
    src: url("/fonts/SpaceGrotesk-SemiBold.woff");
  }

  @font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("/fonts/SpaceGrotesk-Medium.woff");
  }

  @font-face {
    font-family: "SpaceGrotesk-Regular";
    src: url("/fonts/SpaceGrotesk-Regular.woff");
  }

  @font-face {
    font-family: "SpaceGrotesk-Light";
    src: url("/fonts/SpaceGrotesk-Light.woff");
  }